extends ./base.jade

block stylesheets
	link(href='/css/index.css', rel='stylesheet')

block scripts
	script(src='/js/matchList.js')


block content
	//- .row.vcenter
	//- 	.container.pad-top
	//- 		each match in matches
	//- 			!{match.firstname} !{match.lastname}
	.row.vcenter
		.container.pad-top

			each match in matches
				ul.list-group
					li.list-group-item
						a(href="/MatchProfile?user=#{match.id}") !{match.firstname} !{match.lastname}