extends ./base.jade

block stylesheets
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/profile.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')

block content
    .row.vcenter
        .container.pad-top
            .thumbnail#userCard
                .caption
                    h3#username #[a.pull-right#editButton #[i.clickable.fa.fa-pencil#editIcon]]
                    form
                        .form-group
                            label(for='generalDescription')
                                | About You
                            textarea.form-control.user-entry#generalDescription(type='text' disabled='disabled')
                        .form-group
                            label(for='helpDescription')
                                | I Need Help With
                            textarea.form-control.user-entry#helpDescription(type='text' disabled='disabled')
                        .form-group
                            label(for='school')
                                | School
                            input.form-control.user-entry#school(type='text' disabled='disabled')
                        .form-group
                            label(for='firstname')
                                | First Name
                            input.form-control.user-entry#firstname(type='text'
                            disabled='disabled')
                        .form-group
                            label(for='lastname')
                                | Last Name
                            input.form-control.user-entry#lastname(type='text'
                            disabled='disabled')
                        .form-group
                            label(for='city')
                                | City
                            input.form-control.user-entry#city(type='text'
                            disabled='disabled')
                        .form-group
                            label(for='country')
                                | Country
                            input.form-control.user-entry#country(type='text'
                            disabled='disabled')
                        .form-group
                            label(for='courses')
                                | Courses
                            input.form-control.user-entry#courses(type='text'
                            disabled='disabled')
                        .form-group
                            label(for='dateOfBirth' style={display: 'block'})
                                | Date of Birth (YYYY-MM-DD)
                            select.form-control.birthdate-component#birthMonth(disabled='disabled' placeholder='Month')
                                option(value='01') Jan
                                option(value='02') Feb
                                option(value='03') Mar
                                option(value='04') Apr
                                option(value='05') May
                                option(value='06') Jun
                                option(value='07') Jul
                                option(value='08') Aug
                                option(value='09') Sep
                                option(value='10') Oct
                                option(value='11') Nov
                                option(value='12') Dec
                            input.form-control.birthdate-component#birthDate(disabled='disabled' placeholder='Day')
                            input.form-control.birthdate-component#birthYear(disabled='disabled' placeholder='Year')

block scripts
   script(src='/js/profile.js') 
